<div class=" w-2/3 mx-auto">
  <h1 class="mb-4 text-2xl font-bold">Dashboard</h1>

  <div class="flex justify-center mb-8">
    <div class="w-64 flex flex-col text-center">
      <%= turbo_stream_from :import_count %>
      <%= turbo_frame_tag "import_count", src: dashboards_imports_path %>
    </div>

    <div class="flex flex-col text-center w-64">
      <%= turbo_frame_tag "group_count", src: "" %>
    </div>
  </div>
</div>
